<h1>About</h1>
<p>This application gets data from the Barcelona's <a href="http://bicing.cat">bicing</a> system
and saves it regularly on a database, providing historic data.</p>
<p>This data is available via <%= link_to 'web',  statuses_path %>, <%= link_to 'json', statuses_path(:format => :json) %>
and <%= link_to 'xml',  statuses_path(:format => :xml) %>.</p>
<h2>Acknowledges</h2>
<p>This application uses the <%= link_to 'Bicing API', 'http://rocboronat.net/index.php/es/projectes/48-bicing-api' %> by <%= link_to 'Roc Boronat', 'http://rocboronat.net/' %>.</p>