<h1>About</h1>
<p>This application provides an historic record of the occupation data of the Barcelona's <a href="http://bicing.cat">bicing</a> system.</p>
<p>This data is available via <%= link_to 'web',  samples_path %>, <%= link_to 'json', samples_path(:format => :json) %>
and <%= link_to 'xml', samples_path(:format => :xml) %>.</p>
<h2>Acknowledges</h2>
<p>This application uses the <%= link_to 'Bicing API', 'http://rocboronat.net/index.php/es/projectes/48-bicing-api' %> by <%= link_to 'Roc Boronat', 'http://rocboronat.net/' %>.</p>