<%= form_for([:admin, @admin_session]) do |f| %>
  <% if @admin_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('common.errors found') %></h2>
      <ul>
      <% @admin_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login, t_a('login') %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password, t_a('password') %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Iniciar sesión' %>
  </div>
<% end %>
