<h1>Statuses for sample <%= @sample.id %></h1>
<p>Sample obtained at <%= @sample.created_at %></p>
<p>
  <span class="button_links">
    <%= link_to 'html', sample_statuses_path(@sample) %>
    <%= link_to 'json', sample_statuses_path(@sample, :format => :json) %>
    <%= link_to 'xml',  sample_statuses_path(@sample, :format => :xml) %>
  </span>
</p>
<table id="sorted_table" class="tablesorter">
  <thead>
    <tr>
      <th>Id.</th>
      <th>Station id</th>
      <th>Station name</th>
      <th>Available</th>
      <th>Free space</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.id %></td>
        <td><%= link_to status.station_id, station_path(status.station_id) %></td>
        <td><%= status.name %></td>
        <td><%= status.available %></td>
        <td><%= status.free_space %></td>
        <td><%= status.timestamp %></td>
      </tr>
    <% end %>
   </tbody>
</table>
