<!DOCTYPE html>
<html>
<head>
  <title>mybicing</title>
  <%= stylesheet_link_tag @common_stylesheets %>
  <%= stylesheet_link_tag  'normal', 'tables', :media => 'screen' %>
  <%= javascript_include_tag @common_javascripts  %>
  <%= javascript_include_tag 'jquery.cookie' %>
  <%= javascript_include_tag 'jquery.json' %>
  <%= javascript_include_tag 'jquery.datatables' %>
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro|Varela' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'print', :media => 'print' %>

  <%= csrf_meta_tag %>
  <script type="text/javascript">
    $(document).ready(function(){
      init('normal');
    });
  </script>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        <a href="/"><span class="orange">my</span>bicing</a>
      </div>
      <div id="user">
        <span class="button_links">
        </span>
      </div>
      <div class="clear"></div>
      <div id="tagline"></div>
    </div>
    <div id="menu">
      <%= render 'shared/menu' %>
    </div>
    <div id="content">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
       <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <div id="footer">Copyright &copy; 2011 <a href="http://nosolopau.com" target="_blank">Pau</a></div>
    <div class="clear"></div>
  </div>
</body>
</html>
